# This file is part of Qubes+Whonix.
# Copyright (C) 2015 Jason Mehring <nrgaway@gmail.com>
# License: GPL-2+

[Unit]
Description=Qubes-Whonix post init (bind-directories) (legacy)

## Make sure qubes-db is available.
After=qubes-sysinit.service

## Make sure mount home / rw is done.
After=qubes-mount-dirs.service

## Legacy.
## qubes-mount-home.service was renamed to qubes-mount-dirs.service.
## Keeping qubes-mount-home.service because not everyone has updated yet.
## It is crucial to run this service after qubes-mount-[home|dir].service,
## otherwise it would fail.
After=qubes-mount-home.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/qubes-whonix/bind-directories
ExecStop=/usr/lib/qubes-whonix/bind-directories umount
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
